body {
    font-family: "";
}
table {
    border-collapse: separate;
}
.black {
    width: 80px;
    height: 80px;
    background-color: darkgray;
    border: 1px solid black;
}

.white {
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border: 1px solid lightgray;
}

td {
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 52px;
    line-height: 0;
}